
.event {
  max-width: 945px;
  padding: 0 15px;
  margin: 0 auto;

  &__title {
    font-size: 16px * 2;
    max-width: 945px - 305px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    color: #2dc4b6;
    line-height: 1.65rem;
    margin-top: 1rem;
    margin-bottom: 0;

    @media (prefers-color-scheme: light) {
      color: #000;
    }
  }

  &__speaker {
    font-size: 16px;
    max-width: 945px - 305px;;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    line-height: 1rem;
    margin-top: .5rem;
    margin-bottom: 0;
  }

  &__footnote {
    font-size: .75em;
    text-align: right;
  }

  &__body,
  &__meta {
    margin: 0 auto;
    text-align: center;
    word-break: break-word;

    hr {
      margin: 1rem auto;
    }

    p {
      clear: both;
      margin: 0 auto;

      &.content-speaker-data {
        margin-bottom: 1rem;
      }
    }

    & figure {
      margin-bottom: 1rem;

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        padding: 1rem 0;

        & p {
          
        max-width: 945px - 305px;
          font-size: 16px * 1.6817;
          margin-top: 0;
          margin-bottom: 1rem;
          line-height: 1.5rem;
        }

      }

    }

    & ul {
      text-align: left;

      & li {
        float: left;

        &:last-child {
          margin-bottom: 1rem;
        }
      }
    }

    & a {
      text-decoration: underline
    }

    & * {
      max-width: 945px - 305px;
      margin-left: auto;
      margin-right: auto
    }

    & img {
      max-width: 100%;
    }

  }

}
.content__preview {
    max-width: 40rem;
    margin: 0 auto;
}
