[data-component-id="a11ytalks:event"] {
  padding: 0 15px;

  .event__title {
    font-size: calc(var(--font-size-base) * 2);
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    color: var(--color-primary);
    line-height: 1.25;
    margin-top: 1rem;
    margin-bottom: 0;

    @media (prefers-color-scheme: light) {
      color: var(--color-black);
    }
  }

  .event__speaker {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    line-height: 1rem;
    margin: 1rem 0;
  }

  .event__footnote {
    font-size: .75em;
    text-align: right;
  }

  .event__body {

    max-width: 640px;
    margin-left: auto;
    margin-right: auto;

    p {
      word-break: break-word;
      line-height: 1.2rem;
    }
    & * {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto
    }
  }
  .event__meta {

    margin: 0 auto;
    text-align: center;
    word-break: break-word;

    & * {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto
    }

    hr {
      margin: 1rem auto;
    }

    p {
      clear: both;
    }
  }

  .event__tags {
    max-width: 640px;
    margin: 0 auto;
  }

  .calendar {
    margin: 1rem auto;
    padding: 0;
    text-align: center;
    display: block;
    font-weight: 600;
    text-transform: uppercase;

    & a {
      display: inline-block;
      height: var(--button-height);
      padding: 0 24px;
      line-height: var(--button-height);
      text-decoration: none;
      border: 1px solid var(--color-gray-border);
      border-radius: var(--button-border-radius);
      background: var(--color-accent);
      color: var(--color-black);

      &:hover,
      &:focus {
        background: var(--color-gray-bg);
        color: var(--color-black);
        text-decoration: underline;
      }

    }
  }

  .content__preview {
    max-width: 40rem;
    margin: 0 auto;
  }
}
