{% stories speakers with { title: "A11yTalks/Speaker"} %}

  {% story speaker_teaser with {
    name: "Teaser",
    args: {
      label: 'AmyJune Hineline',
      field_pronouns: 'she/her'
    }
  } %}

    {% include 'a11ytalks:speaker-teaser' %}
  {% endstory %}

  {% story speaker_next with {
    name: "Next",
    args: {
      label: "Speaker Name",
    }
  } %}
    <h3>Used in the Next Event component</h3>
    <p>Speakers name is listed there.</p>
    {% include "a11ytalks:speaker-next" %}
  {% endstory %}

{% endstories %}
