[data-component-id="a11ytalks:speaker-teaser"] {
  text-align: center;
}
.speaker-teaser__media {
  box-sizing: border-box;
  position: relative;
  width: 200px;
  margin: 0 auto;

  & img {
    width: 200px;
    border-radius: 50%;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 50%;
    left: 4px;
    top: -4px;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    width: 110%;
    height: 110%;
    background-color: red;
    border-radius: 50%;
    left: -5px;
    top: -8px;
    z-index: -2;
  }
}

.speaker-teaser__name {
  font-size: 14px;
  font-weight: 600;
  margin-top: 13px;
  text-transform: uppercase;
  color: #757575
}
