<div class="speaker-teaser" data-component-id="a11ytalks:speaker-teaser">
    <div class="speaker-teaser__media">
        <img
            src={{ file_url(speaker.field_media.entity.field_media_image.entity.fileuri) }}
            class="speaker-teaser__social-image"
            alt=""
        />
    </div>
    <h3 class="speaker-teaser__name">{{speaker.label}} {{speaker.field_pronouns.value}}</h3>
</div>
