<div {{attributes.addClass("speaker-teaser")}}>
  <div class="speaker-teaser__media">
    {% block media_image %}
      <img
          src="https://a11ytalks.com/photo.png"
          class="speaker-teaser__social-image"
          alt="AmyJune Bio"
      />
    {% endblock %}
  </div>
  <h3 class="speaker-teaser__name">{{ label }}<br/>{{field_pronouns}}</h3>
</div>
