[data-component-id="a11ytalks:colors"] {
  .white { background-color: var(--color-white); color: var(--color-base); }
  .black { background-color: var(--color-black); color: var(--color-white); }
  .black-light { background-color: var(--color-black-light); color: var(--color-white); }
  .gray {background-color: var(--color-gray); }
  .gray-light { background-color: var(--color-gray-light); }
  .gray-lighter {background-color: var(--color-gray-lighter); color: var(--color-base)}
  .primary {background-color: var(--color-primary); }
  .secondary {background-color: var(--color-secondary); }
  .accent {background-color: var(--color-accent); }
}
