<a href="{{ url }}"{{ attributes.addClass('feed-icon') }}>
  <span class="feed-icon__label sr-only">
    RSS Feed
  </span>
  <span class="feed-icon__icon" aria-hidden="true">
    {% include "@a11ytalks/../images/rss.svg" %}
  </span>
</a>
