[data-component-id='a11ytalks:event-next'] {

  padding: 1rem 2rem;

  .meta {
    display: flex;
    flex-direction: column;

    @media(min-width: 960px) {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  .image {
    text-align: center;
    width: 100%;

    @media(min-width: 960px) {
      width: 45%;
      margin-left: 0;

    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @media(min-width: 960px) {
      justify-content: space-between;
      flex-direction: column;
      width: 50%;
    }
  }

  /* Date */
  h2 {
    line-height: 1.5;
    margin: 1rem 0;
    text-transform: uppercase;
    color: var(--color-secondary);
    font-size: var(--font-size-huge);
    font-weight: 900;
    clear: both;

    @media(min-width: 960px) {
      margin-top: 0;
    }
  }

  /* Speaker Name */
  h3 {
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--color-gray-bg);
    font-size: var(--font-size-large);
    font-weight: 500;

    clear: both;

    @media(min-width: 960px) {
    }
  }

  h3.speaker-label {
    color: var(--color-gray-border);
  }


  hr {
    clear: both;
  }

  .title {
    font-size: 1.68rem;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: .5rem;
  }
  .title-link {
    color: var(--color-primary);
    text-transform: none;
    text-align: center;

    @media(min-width: 960px) {
      text-align: left;
    }

    &:hover,
    &:focus {
      color: var(--color-gray-bg);
    }
    @media (prefers-color-scheme: light) {
      color: var(--color-black);

      &:hover,
      &:focus {
        color: var(--color-primary);
      }
    }
  }

  .description {
    font-size: 1rem;
    line-height: 1.5;
    margin-right: 0;
    margin-bottom: .75em;
    margin-top: 0.5rem;

    p {
      margin: 0;
    }
  }

  .readmore {
    color: var(--color-secondary);
    display: block;
    font-size: var(--font-size-base);
    margin-top: .5rem;

    &:hover,
    &:focus {
      color: var(--color-primary);
    }
    &::after {
      content: '\2192';
      margin-left: .5rem;
    }
  }



  @media(min-width: 960px) {
    text-align: left;

    .description {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

}
