[data-component-id="a11ytalks:site-branding"] {
  text-align: center;

  .site-branding__logo {
    background-clip: padding-box;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 0;
  }

  .site-name {
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    margin: .5rem 0;

    a {
      color: #2ec4b6;

      &::hover,
      &::focus {
        color: var(--color-gray-light);
      }

    }

  }

  .site-slogan {
    color: var(--color-gray-light);
    font-size: 0.9rem;
    line-height: 1.625rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
  }


  @media (prefers-color-scheme: light) {
    .site-name {

      a {
        color: var(--color-black);

        &:hover,
        &:focus {
          color: var(--color-black);
          text-shadow: inherit;
        }
      }
    }

    .site-slogan {
      color: var(--color-black);
    }
  }
}
