.form-textarea,
.form-email,
.form-text,
.form-password,
.form-time,
.form-url {
  box-sizing: border-box;
}

.form-date-table {
  td {
    border: 0;
    padding: 0;
  }

  .webform-multiple-add {
    padding-block: 10px;
  }
}

.form-item {
  color: var(--color-base);
  margin-block-start: 1.5rem;

  .form-item {
    margin-block-start: 0;
  }

  label {
    font-weight: 600;
  }

  legend {
    font-weight: 600;
  }

  [class$="description"] {
    font-size: .75rem;
  }

  textarea,
  [type="text"],
  [type="email"],
  [type="password"],
  [type="url"] {
    font-family: inherit;
    font-size: inherit;
    appearance: none;
    border: solid 1px var(--color-base);
    padding: 1rem;
    width: 100%;

    &.error {
      border: solid 2px var(--color-secondary);
    }
  }

  [type="date"] {
    font-family: inherit;
    font-size: inherit;
    appearance: none;
    border: solid 1px var(--color-base);
    padding: 1rem;
  }
}

.form-required::after {
  display: inline-block;
  margin-inline: 0.15em;
  content: "*";
  color: var(--color-secondary);
}

.fieldset-wrapper label {
  font-weight: normal;
}

.webform-button--submit {
  margin-block-start: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  .form-item {
    color: var(--color-base-dark);
  }

  textarea,
  [type="text"],
  [type="email"] {
    border: solid 1px var(--color-base-dark);
  }
}
