.event-listing {
  .views-row:not(:last-child) {
    &::after {
      content: '';
      margin-bottom: 1.5rem;
      border: 0;
      color: var(--color-base);
      display: block;
      height: 26px;
      margin-right: auto;
      margin-left: auto;
      background-size: 100% 26px;
      background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, var(--color-accent) 11px, var(--color-accent) 15px, transparent 15px, transparent 26px);
      width: 100px;
      clear: both;
    }
  }
}
