{% stories atoms with { title: "A11yTalks"} %}

  {% story base with {
    name: "Base",
    argTypes: {
      theIcon: {
        control: "select",
        options: ["twitter", "facebook", "oc", "github", "email", "youtube"]
      }
    },
  } %}
    <h2>Colors</h2>
    {% include "a11ytalks:colors" %}

    <h2>Icons</h2>
    {% include "a11ytalks:icon" %}
    <p>Options: "twitter", "facebook", "oc", "github", "email", "youtube"</p>
    <p>Use the controls below</p>
  {% endstory %}

{% endstories %}
