{% stories atoms with { title: "A11yTalks"} %}

  {% story base with {
    name: "Base",
    argTypes: {
      theIcon: {
        control: "select",
        name: "Icon Picker",
        options: ["twitter", "facebook", "oc", "github", "email", "youtube"],
        description: "Select an icon to view."
      }
    },
    args: {theIcon: "twitter"}
  } %}
    <h2>Colors</h2>
    {% include "a11ytalks:colors" %}

    <h2>Icons</h2>
    {% include "a11ytalks:icon" %}
    <p>Options: "twitter", "facebook", "oc", "github", "email", "youtube"</p>
    <p>Use the controls below</p>


    <h2>RSS Icon</h2>
    {% include "a11ytalks:feed" with {
      title: "Sample RSS",
      url: "#"
    } %}
  {% endstory %}


{% endstories %}
