{% stories blocks with { title: "A11yTalks/Blocks"} %}

  {% story blocks_branding with {
    name: "Branding",
    args: {
      site_name: "A11yTalks",
      site_logo: "https://a11ytalks.com/photo.png",
      site_slogan: "Virtual meet-up featuring speakers & conversations around digital accessibility",
      front: "#",
    }
  } %}
    {% include "a11ytalks:site-branding" %}
  {% endstory %}

  {% story main_menu with {
    name: "Main Menu",
    args: {
      items: [
        { title: "Link 1", url: "/home"},
        { title: "Link 2", url: "/home"}
      ]
    }
  } %}
   {% include 'a11ytalks:main-menu' %}

  {% endstory %}

  {% story contact_block with {
    name: "Contact"
  } %}
    <h2>Contacts Block</h2>
    {% include "a11ytalks:contacts" %}
  {% endstory %}

  {% story copyright_block with {
    name: "Copyright",
    args: {
      content: "I am a copyright"
    }
  } %}

    {% include "a11ytalks:copyright" %}
  {% endstory %}

  {% story home_link with {
    name: "Home Link"
  } %}
    <h2>Home Link</h2>
    <p>This link shows in place of the sidebar for events pages.</p>
    {% include "a11ytalks:home-link" %}
  {% endstory %}
{% endstories %}
