[data-component-id="a11ytalks:main-menu"] {
  margin-bottom: 1rem;
  margin-top: 1rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  a {
    color: var(--color-secondary);
    font-weight: 600;
    font-size: var(--font-size-base);
    border: 0;

    &:hover,
    &:focus {
      color: var(--color-primary);
    }

    &.is-active:not(.button) {
      color: var(--color-accent);
    }
  }

  li {
    padding: 0;
    margin: 10px 0;
  }

  @media (prefers-color-scheme: light) {
    a {
      color: var(--color-secondary);

      &.is-active {
        color: var(--color-accent);
      }

      &.button {
        color: black;
      }
    }
  }
}
