<nav {{ attributes.addClass('menu') }}>
  <ul>
    {% for item in items %}
      {% set active_class =  item.in_active_trail ? "is-active" : "" %}
      <li class="menu-item">
        <a href="{{item.url}}" {{item.attributes.addClass(active_class)}}>{{item.title}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
