<div class='tags'>
  <ul class='tags__list'>
    {% foreach tag in tags %}
      <li class='tags__list-item'>
        <a href="{tag.url}" class='tags__list-item-link'>
          {tag.name}
        </a>
      </li>
    {% endforeach %}
  </ul>
</div>
