[data-component-id="a11ytalks:field-tags"] {

  margin-bottom: .5rem;

  ul {
    list-style: none;
    margin: 0 -10px;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 10px 5px;
  }

}
