<div {{ attributes.addClass('tags')}}>
  <ul>
    {% block tags %}
    {% for tag in tags %}
      <li>
        <a href="#">{{ tag }}</a>
      </li>
    {% endfor %}
    {% endblock %}
  </ul>
</div>
