<div {{ attributes.addClass("member-card")}} >
  {% block media_image %}
  <img src="https://a11ytalks.com/media/amyjune-bio.png" alt={{ label }} />
  {% endblock %}
  <h3>{{ label }}</h3>
  <a href={{ url }}>Full Bio  →</a>
</div>
