
{% set contactList = {
  "youtube": "https://www.youtube.com/c/accessibilitytalks",
  "bluesky": "https://bsky.app/profile/a11ytalks.com",
  "github": "https://github.com/a11ytalks",
  "oc": 'https://opencollective.com/a11ytalks'
} %}

<div {{ attributes.addClass("contacts") }}>
  <ul class='contacts__list'>
    {% for key, url in contactList %}
      <li class='contacts__list-item'>
        <a
          class='contacts__list-item-link'
          href={{ url }}
          rel="noopener noreferrer"
          target="_blank"
        >
          {% include "a11ytalks:icon" with {
            theIcon: key
          } %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
